<div style="font-size: 15px;">
  Thank you for subscribing to status updates from <%= company_name %>.
  <br /><br />
  Please confirm you subscription by clicking the following link: <a href="<%= ui_app_uri %>/manage_subscription/<%= id %>/confirm" target="_blank"><%= ui_app_uri %>/manage_subscription/<%= id %>/confirm</a>
</div>
